@font-face {
  font-family: "BreackingBadFont";
  src: url("../assets/font.otf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

.backLanding {
  color: #fff;
  background-image: url("../assets/3123.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100%;
}

.LandingPage {
  display: flex;
  position: relative;
  top: 1rem;
  flex-direction: column;
}

.titleLanding {
  font-family: "BreackingBadFont";
  font-size: 4.5rem;
  cursor: default;
}

.aLanding {
  position: relative;
  top: -3rem;
}
.btnLanding {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 3px solid transparent;
  padding: 6px 45px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  border-color: #0d3e10;
}
.btnLanding:hover {
  color: #fff;
  background-color: #093009;
  border-color: #0d3e10;
}
